@using MarkdownBlog.Utils
@model MarkdownBlog.Core.Models.BlogPost

@{
    ViewBag.Title = "Blog Posts";
}

<h1 class="text-center" style="font-weight: bolder"> @Model.Title </h1>

<div class="text-center" style="margin-bottom: 75px">
    <p>
        by <a href="#">Khanh Nguyen</a> - <span class="glyphicon glyphicon-time"></span> Posted on @Model.CreatedDate.ToString("d")
    </p>
</div>

<div class="markdown-body"> @Html.Markdown(Model.Content) </div>